body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
.orange{
    color: orange;
}

h1{
    font-size: 50px;
} 

h2{
    font-size: 37px;
}


.flexible{
    display: flex;
    margin-bottom: 150px;
}

.half-width{
    width:50%;
    padding-left: 6%;
}

.half-width img{
    width:80%;
    padding-right: 2%;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    border-radius: 7px;
    color: white;
    font-weight: 700;
}

.link-button:hover{
    background-image: linear-gradient(blue,cyan);
    color:white;
}

.top-image{
    background-image: url("top-banner.png");
    background-repeat: no-repeat;
}

.top-image p{
    text-align: justify;
}

.middle-image{
    background-image: url("dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}

.middle-image p{
    padding-right: 20%;
    text-align: justify;
}

.bottom-image{
    background-image: url("exp-bg.png");
    background-repeat: no-repeat;
    background-position-y: 70%;
}

.box-half{
    width: 40%;
    padding-left: 5%;
    padding-right: 5%;
    margin: 5%;
    box-shadow: 10px 10px 20px gray;
    border-radius: 10px;
}

#border-1{
    border-left: 10px solid;
    border-image: linear-gradient(red,orange);
    border-image-slice: 1;
}

#border-2{
    border-left: 10px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
}

footer p{
    text-align: center;
    font-weight: 700;
    font-size: 20px;
}